extends layout.pug

//- block onload
//-     script.
//-         document.addEventListener('DOMContentLoaded', function(){
//-             allModels();
//-         });

block content
    header
        a(href="#")
            h1 HondaHeads
    .main_wrapper
        main
            article
                h2
                    img.h2_logo(src="/images/HondaLogoRed.png", alt="")
                    | Presentacion
                div
                    p ¡Bienvenido a nuestro rincón dedicado a la historia automovilística de Honda Motor Company! Sumérgete en el fascinante viaje a través del tiempo y descubre la evolución de los icónicos modelos de coches que han definido la excelencia de Honda. Nuestra página web se erige como una auténtica enciclopedia y hemeroteca virtual, donde cada página cuenta una historia única. Desde los primeros días de la compañía hasta los modelos más recientes, te invitamos a explorar los hitos, las innovaciones y las emocionantes travesías que han cimentado el legado de Honda en el mundo del automóvil. Únete a nosotros mientras preservamos con admiración la rica herencia de Honda, un testimonio del ingenio y la dedicación que ha impulsado a esta marca a la vanguardia de la industria automotriz. ¡Prepárate para sumergirte en la experiencia definitiva para los amantes de Honda!
            section
                h2
                    img.h2_logo(src="/images/HondaLogoRed.png", alt="")
                    | Modelos

                ul.gallery.js-flickity(data-flickity-options='{ "wrapAround": true }')
                    for modelo in modelos
                        li.card
                            .card_img
                                img.card_img_top(src=`/images/${modelo.rutaPortada}`)
                            .card_body
                                h5 #{modelo.nombreModelo}
                                p #{modelo.periodo}
                                a(href=`/model/${modelo.id}`)
                                    button Ir
            section 
                h2
                    img.h2_logo(src="/images/HondaLogoRed.png", alt="")
                    | Motores
                #buscar_motor
                    input#CodigoMotor(type="text", placeholder="Introduce el código de motor...")
                    button#buscar_btn(onclick="buscarMotores()")
                        img(src="/images/LupaBuscar.png", alt="")
                #tabla_motor
            section 
                h2
                    img.h2_logo(src="/images/HondaLogoRed.png", alt="")
                    | Redes
                div.social_wrapper2
                    a(href="https://www.instagram.com/hondaheadsclub/", target="_blank")
                        img.social_image(src="/images/LogoInstaBlack.png", alt="")
                    a(href="https://twitter.com/hondaheadsclub", target="_blank")
                        img.social_image(src="/images/LogoXBlack.png", alt="") 
    script.
        var ogTitle = document.title;
        var pageTitle = ogTitle + " | Inicio";
        document.title = pageTitle;