doctype html 
html(lang='es')
    head
        script(src="/js/main.js")
        script(src="/js/carrusel.js")
        link(rel="stylesheet", href="/css/carrusel.css")
        link(rel="stylesheet", href="/css/hamburgers.css")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/styles.css")
        meta(content='width=device-width', initial-scale='1', shrink-to-fit='no', name='viewport')
        title Hello World! 
    body
        block content
        footer
            .social_wrapper1
                a(href="https://www.honda.es/", target="_blank")
                    img.social_image#honda_logo_white(src="/images/HondaLogoWhite.png", alt="")
                a(href="https://www.instagram.com/honda/?hl=es", target="_blank")
                    img.social_image(src="/images/LogoInsta.png", alt="")
                a(href="https://twitter.com/Honda", target="_blank")
                    img.social_image(src="/images/LogoX.png", alt="")
            a(href="#")
                button.link_foro HondaHeads Club
            p HondaHeads, Co. © 2023