/* - ROOT - */

    @font-face {
        font-family: HondaFont;
        src: url(../font/Honda\ Font.ttf);
    }

    body{
        display: flex;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: rgba(0,67,125,1);
        background: -moz-linear-gradient(left, rgba(0,67,125,1) 0%, rgba(0,41,74,1) 0%, rgba(0,85,164,1) 50%, rgba(0,41,74,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,67,125,1)), color-stop(0%, rgba(0,41,74,1)), color-stop(50%, rgba(0,85,164,1)), color-stop(100%, rgba(0,41,74,1)));
        background: -webkit-linear-gradient(left, rgba(0,67,125,1) 0%, rgba(0,41,74,1) 0%, rgba(0,85,164,1) 50%, rgba(0,41,74,1) 100%);
        background: -o-linear-gradient(left, rgba(0,67,125,1) 0%, rgba(0,41,74,1) 0%, rgba(0,85,164,1) 50%, rgba(0,41,74,1) 100%);
        background: -ms-linear-gradient(left, rgba(0,67,125,1) 0%, rgba(0,41,74,1) 0%, rgba(0,85,164,1) 50%, rgba(0,41,74,1) 100%);
        background: linear-gradient(to right, rgba(0,67,125,1) 0%, rgba(0,41,74,1) 0%, rgba(0,85,164,1) 50%, rgba(0,41,74,1) 100%);
    }

/* - ROOT - */

/* - MAIN SYNTAX - */

    header{
        width: 100%;
        display: flex;
        position: fixed;
        flex-direction: row;
        padding: 2% 0 2% 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(100,25,25,1) 35%, rgba(200,45,45,1) 100%);
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    header button {
        display: none;
        background-color: rgba(0, 0, 0, 0);
    }

    header button:hover{
        background-color: rgba(0, 0, 0, 0);

    }

    nav{
        top: 9%;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        padding: 0.5%;
        color: black;
        background-color: whitesmoke;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        z-index: 1;
    }

    nav a button{
        width: 10rem;
        margin-right: 2%;
    }

    .main_wrapper{
        width: 85%;
        margin: auto;
        padding: 9% 0 2% 0;
    }

    main{
        padding: 2%;
        background-color: white;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);
        box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);-webkit-box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);
        box-shadow: 0px 0px 10px 2px rgba(97,97,97,1);
    }

    article{
        display: flex;
        flex-direction: column;
        margin: 1% 0 3% 0;
    }

    article h2 {
        padding: 0.5%;
    }

    article img{
        width: 35%;
        float: right;
        margin: 1%;
    }

    .contenedor_caracteristicas_modelo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contenedor_caracteristicas_modelo section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .section_imagenes_modelo {
        display: flex;
        flex-direction: column;
    }

    section{
        display: flex;
        flex-direction: column;
        margin: 3% 0 3% 0;
    }

    section h2 {
        padding: 0.5%;
    }
    
    .video{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        text-decoration: none;
    }

    p{
        margin: 1%;
        text-align: justify;
    }

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(100,25,25,1) 35%, rgba(200,45,45,1) 100%);
    }
    
    footer p{
        color: white;
        margin-right: 1%;
    }

/* - MAIN SYNTAX - */

/* - HEADERS (Títulos) - */

    h1{
        color: white;
        font-family: HondaFont;
        margin-left: 10%;
    }
    h2{
        display: flex;
        align-items: center;
        margin-bottom: 2%;
        font-family: HondaFont;
        border-bottom: 1px dashed grey;
    }

    .introduccion_h2{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px dashed grey;
        padding: 0.5%;
        margin-bottom: 2%;
    }
    
    .introduccion_h2_txt{
        width: 97%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .introduccion_h2_txt h2{
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h3{
        font-size: 1.2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 1.5% 0 1% 0;
    }

/* - HEADERS (Títulos) - */

/* - LISTA DATOS MODELO - */

    ul{
        margin-left: 1.5em;
    }

    .img_modelo {
        width: 66%;
    }

    .img_modelo img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

    #datos_modelo {
        margin: 1.75em 0 1em 0;
    }

    .modelo_manual_taller {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modelo_manual_taller a {
        color: black;
    }
    
/* - LISTA DATOS MODELO - */

/* - REDES SOCIALES - */
    
    .social_wrapper1{
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 0.1%;
    }
    .social_wrapper2{
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2%;
    }
    .social_image{
        width: 85px;
        opacity: 0.85;
    }
    .social_image:hover{
        opacity: 1;
    }

/* - REDES SOCIALES - */

/* - SCROLLBAR MODIFICADA - */

    ::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        align-items: center;
        background: white;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        width: 10px;
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* - SCROLLBAR MODIFICADA - */

/* - CARDS - */

    .gallery{
        width: 65%;
        height: 65%;
        margin: 0 auto;
    }

    .card {      
        display: flex;
        flex-direction: column;
        width: 66%;
        height: 450px;
        margin: 0 10% 2% 0;
        border: 1px solid black;
        counter-increment: card;
    }

    .card_gen {      
        display: flex;
        flex-direction: column;
        width: 66%;
        height: auto;
        margin: 0 10% 2% 0;
        border: 1px solid black;
        counter-increment: card;
    }
    
    .card:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
    
    .card_img {
        display: flex;
        flex-direction: column;
        height: 65%;
        align-items: center;
        justify-content: center;
    }
    
    .card_img_gen {
        height: 65%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .card_img_top {
        width: 90%;
    }

    .card_img_top_gen {
        width: 90%;
        height: auto;
        margin-top: 4%;
    }
    
    .card_body {
        display: flex;
        flex-direction: column;
        height: 35%;
        align-items: center;
        justify-content: space-evenly;
    }

    .card_body_gen {
        margin: 2% 0 2% 0;
        display: flex;
        flex-direction: column;
        height: 35%;
        align-items: center;
        justify-content: space-evenly;
    }

/* - CARDS - */

/* - BUSCADOR DE MOTORES - */

    #buscar_motor{
        display: flex;
        align-items: center;
    }

    #buscar_motor input{
        width: 15%;
    }

    #buscar_btn{
        background-color: rgba(0, 0, 0, 0);
    }

    #buscar_btn img{
        width: 45%;
        opacity: 0.75;
    }

    #buscar_btn img:hover{
        opacity: 1;
    }

    select{
        background-color: rgba(0,67,125,1);
        color: white;
        border: none;
    }

    select:hover{
        cursor: pointer;
    }

    option{
        border: none;
    }

/* - BUSCADOR DE MOTORES - */

/* - TABLAS - */

    /* - TABLA DE MOTORES - */

        #tabla_motor{
            display: flex;
            justify-content: center;
            max-height: 400px;
            overflow: scroll;
            margin-top: 2%;
        }

        #motores th, td{
            text-align: center;
            padding: 0.5%;
            border: 1px solid black; 
            min-width: 120px;
            width: 250px;
            height: 100%;
            background-color: #c2c2c2;
        }

        .gasolina{
            background-color: coral;
        }

        .hibrido{
            background-color: rgb(255, 186, 160);
        }

        .diesel{
            background-color: darkcyan;
        }

    /* - TABLA DE MOTORES - */

    /* - TABLA DE MOTORIZACIONES - */

        #tabla_motorizaciones {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.75em;
        }

    /* - TABLA DE MOTORIZACIONES - */

/* - TABLAS - */

/* - BOTONES - */

    .link_foro{
        width: 10em;
        margin-left: -20%;
        padding: 5%;
    }

    button{
        border: none;
        background-color: rgba(0,67,125,1);
        color: white;
        width: 5em;
    }

    button:hover{
        background-color: rgb(0, 59, 110);
        color: rgb(210, 210, 210);
        cursor: pointer;
    }

/* - BOTONES - */

/* - IMAGES - */

    .h2_logo{
        width: 2.5em;
        margin: 0 1% 0 0;
    }

    #honda_logo_white{
        width: 130px;
    }

    .video {
        margin-bottom: 4em;
    }
/* - IMAGES - */

/* - S2000 - */

    #S2K_article1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
    }

    #S2K_article2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    #S2K_article_paragraph{
        margin: 2%;
    }

/* - S2000 - */

/* - WARNING - */

    #warning_paragraph {
        display: flex;
        align-self: center;
    }

    .warning_img {
        width: 1%;
    }

/* - WARNING - */

/*####################################################################################################################################################################################################################################*/

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {

    header {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    header button {
        display: block;
        height: auto;
    }

    nav {
        max-width: 100%;
        top: 40px;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    h1 {
        font-size: 0.70em;
        margin: 2%;
    }

    .main_wrapper {
        width: 100%;
        padding: 10% 0 0 0;
    }

    h2{
        font-size: 0.75em;  
    }

    .introduccion_h2{
        flex-direction: row;
    }

    .introduccion_h2_txt {
        align-items: normal;
        flex-direction: column;
        line-height: 1.5;
        font-size: 0.9em;
    }

    .h2_logo {
        margin-right: 3%;
    }

    .card {
        width: 90%;
    }

    .card_gen {
        width: 90%;
    }

    .gallery {
        width: 100%;
        margin-bottom: 20%;
    }

    #buscar_motor input {
        width: 14em;
    }

    #tabla_motor {
        justify-content: left;
        margin: auto;
        overflow: scroll;
        max-width: 100%;

    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer p {
        margin: 0.5em 0 0.5em 0;
    }

    .social_wrapper1 {
        width: 75%;
        margin: 1em 0 1em 0;
    }

    .social_image {
        width: 60px;
        opacity: 1;
    }

    #honda_logo_white {
        width: 85px;
    }

    .link_foro {
        margin: 1em 0 1em 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    header {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 0.8em;
        margin: 2%;
    }

    .main_wrapper {
        width: 100%;
        padding: 7.5% 0 0 0;
    }

    h2{
        font-size: 0.75em;  
    }

    .h2_logo {
        margin-right: 3%;
    }

    .card {
        width: 90%;
    }

    .gallery {
        width: 100%;
        margin-bottom: 20%;
    }

    #buscar_motor input {
        width: 14em;
    }

    #tabla_motor {
        justify-content: left;
        margin: auto;
        overflow: scroll;
        max-width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer p {
        margin: 0.5em 0 0.5em 0;
    }

    .social_wrapper1 {
        width: 75%;
        margin: 0.5em 0 0.5em 0;
    }

    .social_image {
        width: 60px;
        opacity: 1;
    }

    #honda_logo_white {
        width: 85px;
    }

    .link_foro {
        margin: 0.5em 0 0.5em 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

}

@media (min-width: 1024px) and (max-width: 1649px) and (orientation: portrait) {

}

@media (min-width: 1650px) and (orientation: portrait) {

}